.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  position: fixed;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}

// position: fixed; - this is essential
// left/right: 0; - choose where you want it, left or right, also essential
// background-color: rgba(255, 255, 255, 0.98); - change to whatever background color you want, maybe the same as the site's
// box-shadow: 0 2px 2px #efefef; - for nice effect, replace with your desired means of delineating from the site
// z-index: 9999;
